body {
    margin: 5px;
    background: #ccc;
}

table {
    width: 100%;
    border: 5px solid #000;
    border-spacing: 5px;
    background: #fff;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.text {
    order: 0;
    width: 100%;
}

.alt-text {
    order: 1;
    width: 100%;
}

.fas.fa-star {
    color: #fd0;
    text-shadow: 0 0 5px #fc0;
}

.far.fa-star {
    color: #fd0;
    text-shadow: 0 0 5px #000;
}

.face-down {
    width: calc(25vw - (95px / 4));
    height: calc(25vw - (95px / 4));
    font-size: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(140deg, #ade, #0ff, #0df);
    border-radius: 15px;
    border-color: #000;
    border-style: solid;
    border-width: 5px;
}

.face-up {
    width: calc(25vw - (95px / 4));
    height: calc(25vw - (95px / 4));
    font-size: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 15px;
    border-color: #000;
    border-style: solid;
    border-width: 5px;
}

.matched-cards {
    width: calc(25vw - (95px / 4));
    height: calc(25vw - (95px / 4));
    font-size: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 15px;
    border-color: #820;
    border-style: solid;
    border-width: 5px;
}

.hidden {
    visibility: hidden;
}
.shown {
    visibility: show;
}

.removed {
    display: none;
}

.div-third {
    order: 0;
    width: calc(100%/3);
    text-align: center;
}

.div-full {
    order: 1;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.div-win {
    width: 100%;
    text-align: center;
    font-size: 10vw;
    padding-top: 5px;
    padding-bottom: 5px;
}

#title {
    order: 0;
    width: 100%;
    text-align: center;
}

#game-app {
    width: 100%;
}

#copyright {
    text-align: center;
    padding-top: 5px;
}

#reset-button {
    order: 1;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}